@font-face {
    font-family: 'Benzin';
    src: local('Benzin Semibold'), local('Benzin-Semibold'),
        url('Benzin-Semibold.woff2') format('woff2'),
        url('Benzin-Semibold.woff') format('woff'),
        url('Benzin-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }